body{
  background-color: aquamarine;

  padding: 50px;
}

.header{
  border:3px solid black;
  /* border-bottom: 50px; */
}

.title{
  text-align: center;
  margin-bottom: 60px;
  border-top:50px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
  text-align: center;
  list-style-type: none;
  
}

li{
  padding: 5px;
  margin: 40px;
  display: inline;
}

li a{
  font-size: 25px;
}

.flexBox{
  display: flex;
  border: 1px solid black;
  
}

.box{
  border: 1px solid black;
  margin:20px; 

}